---
layout: default
---

<div class="container-fluid h-100">
    <div class="row h-100">
        <!-- Left side -->
        <div class="col-lg-12 col-xl-6 background-bluegray-100 pattern">
            <div class="container d-flex flex-column flex-fill h-100 py-5 px-2 px-lg-5">
                <div class="row mb-4 mb-lg-5">
                    <div class="col-12">
                        <div class="navbar navbar-expand-xl justify-content-between">
                            <div>
                                <a href="{{ site.baseurl }}">
                                    <img src="{{ site.baseurl_root }}/assets/images/wahlbrief.svg" alt="Wahlbrief logo"
                                        width="200px" height="auto">
                                </a>
                            </div>

                            <div class="d-lg-none">
                                <button class="navbar-toggler" onclick="openNav()"><img
                                        src="{{ site.baseurl_root }}/assets/images/burger.svg"></button>
                                {% include nav-mobile.html %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- Intro section -->
                    <div id="intro" class="col-12 col-xxl-9 col-xl-12">
                        <h1>{% t left.title %}</h1>
                        <p class="subtitle">{% t left.subtitle %}</p>
                    </div>

                    <!-- Big letter preview -->
                    <div id="bigletter" class="col-xl-11 col-12 letter p-5">
                        <h4 class="fw-bold mb-4">{% t left.preview %}</h4>
                        <p>{% t right.letter.title %}</p>
                        <p class="mb-0">
                            {% t right.letter.name %}: <span class="fw-bold" id="name"></span><br />
                            {% t right.letter.surname %}: <span class="fw-bold" id="surname"></span><br />
                            {% t right.letter.birthday %}:
                            <span class="fw-bold" id="birthdate"></span><span class="fw-bold"
                                id="birthmonth"></span><span class="fw-bold" id="birthyear"></span><br />
                            {% t right.letter.address %}:<br />
                            <span class="fw-bold" id="street"></span><br data-br="street" style="display: none;" />
                            <span class="fw-bold" id="zip"></span>
                            <span class="fw-bold" id="city"></span><br data-br="zip" style="display: none;" /><br
                                data-br="city" style="display: none;" />
                        </p>

                        <p id="ogaddress">{% t right.letter.sendtomine %}</p>

                        <p class="mb-0" id="newaddress">{% t right.letter.sendalternative %}<br />

                            <span class="fw-bold" id="newname"></span>
                            <span class="fw-bold" id="newsurname"></span>
                            <br data-br="newsurname" style="display: none;" />
                            <span class="fw-bold" id="address"></span><br data-br="address" style="display: none;" />
                            <span class="fw-bold" id="newstreet"></span><br data-br="newstreet"
                                style="display: none;" />
                            <span class="fw-bold" id="newzip"></span>
                            <span class="fw-bold" id="newcity"></span><br data-br="newzip" style="display: none;" /><br
                                data-br="newcity" style="display: none;" />

                        </p>

                        <p class="mb-0">{% t right.letter.regards %}<br />
                            <span class="fw-bold" id="id-name"></span>
                            <span class="fw-bold" id="id-surname"></span>
                            <span id="id-newname"></span>
                            <span id="id-newsurname"></span>
                            <span id="id-street"></span>
                            <span id="id-newstreet"></span>
                            <span id="id-address"></span>
                            <span id="id-zip"></span>
                            <span id="id-newzip"></span>
                            <span id="id-city"></span>
                            <span id="id-newcity"></span>
                        </p>
                    </div>

                    <!-- Mobile view step 2 -->
                    <div id="address-mobile">
                        <div class="d-flex mb-3 justify-content-between align-items-center">
                            <button class="btn back-small" onclick="backtofirstpage();">{% t right.back %}</button>
                            <h4 class="fw-bold">2/3</h4>
                        </div>
                        <h2>{% t right.residence %}</h2>
                        <p>{% t right.optional %}</p>
                        <div class="background-white p-4">
                            <h4 id="muniname" class="fw-bold mb-0"></h4>
                            <p id="muniemail" class="mb-0 me-1 d-inline-block"></p>
                            <button class="btn copy p-0 d-inline-block" data-bs-toggle="tooltip"
                                title="{% t right.message.copied %}" data-clipboard-target="#muniemail">
                                <i class="far fa-copy"></i>
                            </button>
                        </div>
                    </div>

                    <!-- CTA/Share outro -->
                    <div id="outro" class="col-12 col-xl-8 outro">
                        <h1>{% t left.share %}</h1>
                        <p class="mb-4">{% t left.description %}</p>
                        <a href="{{ site.facebook }}" target="_blank" rel="noreferrer nopener"><i
                                class="fab fa-facebook"></i></a>
                        <a href="{{ site.twitter }}" target="_blank" rel="noreferrer nopener"><i
                                class="fab fa-twitter"></i></a>
                        <a href="{{ site.linkedin }}" target="_blank" rel="noreferrer nopener"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>

                    <!-- Mobile view step 3 -->
                    <div id="preview-mobile">
                        <div class="d-flex mb-3 justify-content-between align-items-center">
                            <button class="btn back-small" onclick="backtosecondpage();">{% t right.back %}</button>
                            <h4 class="fw-bold">3/3</h4>
                        </div>
                        <h2>{% t right.preview-letter %}</h2>
                        <p>{% t right.preview-description %}</p>
                    </div>

                    <div class="d-block d-lg-none scrollIndicator">
                        <div class="container">
                            <div class="text-center">
                                <button onclick="window.scrollTo(0,document.body.scrollHeight);"><i
                                        class="fas fa-2x fa-chevron-down"></i></button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt-auto d-none d-lg-block">
                    <div class="col-12">
                        {% include nav.html %}
                        {% include footer.html %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Right side -->
        <div class="col-lg-12 col-xl-6">
            <div class="container d-flex flex-column h-100 py-3 py-lg-5 px-2 px-lg-5">
                <div class="row">
                    <!-- Necessary nav for toggling steps from 1 to 3, hidden because we control them via JS -->
                    <nav class="d-none">
                        <div class="nav-collapse">
                            <ul class="nav nav-pills" id="pills-tab" role="tablist">

                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="step-1-tab" data-bs-toggle="pill"
                                        data-bs-target="#step-1" type="button" role="tab" aria-controls="step-1"
                                        aria-selected="true">Step 1</button>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="step-2-tab" data-bs-toggle="pill"
                                        data-bs-target="#step-2" type="button" role="tab" aria-controls="step-2"
                                        aria-selected="true">Step 2</button>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="step-3-tab" data-bs-toggle="pill"
                                        data-bs-target="#step-3" type="button" role="tab" aria-controls="step-3"
                                        aria-selected="true">Step 3</button>
                                </li>

                            </ul>
                        </div>
                    </nav>

                    <div class="tab-content" id="pills-tabContent">

                        <!-- Step 1 -->
                        <div class="tab-pane fade show active" id="step-1" role="tabpanel" aria-labelledby="step-1-tab">
                            <div class="col-12">
                                <h4 class="fw-bold">1/3</h4>
                                <h2>{% t right.zip %}</h2>
                                <p>{% t right.description %}</p>
                            </div>
                            <div class="col-xl-8 col-12">
                                <div class="input-group form-floating autocomplete mb-0 mb-lg-2">
                                    <input id="zipcode" type="text" name="zipcode" autocomplete="off"
                                        inputmode="numeric"
                                        onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                        class="form-control mb-3 mb-lg-0" minlength="9" maxlength="120"
                                        placeholder="{% t right.placeholder %}" aria-label="{% t right.placeholder %}"
                                        aria-describedby="{% t right.placeholder %}">
                                    <label for="zipcode">{% t right.placeholder %}</label>

                                    <div class="input-group-append d-none d-xxl-inline-block">
                                        <button onclick="secondpage();" class="btn btn-new"><i
                                                class="fas fa-search me-2"></i>{% t
                                            right.button
                                            %}</button>
                                    </div>
                                </div>

                                <div class="autocomplete-items mb-3" id="autocomplete-list">
                                </div>

                                <button id="next-click" onclick="secondpage();"
                                    class="btn btn-new d-block w-100 d-xxl-none"><i class="fas fa-search me-2"></i>{% t
                                    right.button
                                    %}</button>

                                <p>{% t right.tos %}</p>
                            </div>
                            <p class="mb-0 mt-4 d-flex d-lg-none"><small>Ein <a
                                        href="https://github.com/Wahlbrief/wahlbrief-website" target="_blank"
                                        rel="noreferrer noopener">Open Source Projekt</a> von Mehr
                                    Demokratie. {{ 'now' |
                                    date: "%Y" }}</small></p>
                            <div class="d-flex d-lg-none align-items-center justify-content-between mt-4">
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenu3"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-globe me-1"></i>
                                        {% for lang in site.languages %}
                                        {% assign lang_name = site.data[lang].l10n.lang_name %}
                                        {% if lang == site.lang %}
                                        {{ lang_name }}
                                        {% endif %}
                                        {% endfor %}
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                                        {% for lang in site.languages %}
                                        {% assign lang_name = site.data[lang].l10n.lang_name %}
                                        {% if lang == site.default_lang %}
                                        <li><a class="dropdown-item" href="{{ page.url }}">{{ lang_name }}</a></li>
                                        {% else %}
                                        <li><a class="dropdown-item" href="/{{ lang }}{{ page.url }}">{{ lang_name
                                                }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Step 2 -->
                        <div class="tab-pane fade" id="step-2" role="tabpanel" aria-labelledby="step-2-tab">
                            <div class="col-12">
                                <div id="address-desktop">
                                    <button class="btn back-small mb-4 d-none d-lg-block"
                                        onclick="backtofirstpage();">{% t right.back %}</button>
                                    <h4 class="fw-bold">2/3</h4>
                                    <h2>{% t right.residence %}</h2>
                                    <p>{% t right.optional %}</p>
                                    <div class="background-gray-100 p-4">
                                        <h4 id="munname" class="fw-bold mb-0"></h4>
                                        <p id="munemail" class="mb-0 me-1 d-inline-block"></p>
                                        <button class="btn copy p-0 d-inline-block" data-bs-toggle="tooltip"
                                            title="{% t right.message.copied %}" data-clipboard-target="#munemail">
                                            <i class="far fa-copy"></i>
                                        </button>
                                    </div>
                                </div>
                                <form name="main" class="mt-4">
                                    <div class="row">
                                        <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="form-name"
                                                    pattern="^[a-zA-Z-,.\säöüÄÖÜß]{2,}$" maxlength="60"
                                                    placeholder="{% t right.firstname %}"
                                                    aria-label="{% t right.firstname %}"
                                                    aria-describedby="{% t right.firstname %}">
                                                <label for="form-name">{% t right.firstname %}</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="form-surname"
                                                    pattern="^[a-zA-Z-,.\säöüÄÖÜß]{2,}$" maxlength="60"
                                                    placeholder="{% t right.lastname %}"
                                                    aria-label="{% t right.lastname %}"
                                                    aria-describedby="{% t right.lastname %}">
                                                <label for="form-surname">{% t right.lastname %}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <fieldset class="mt-3 px-3">
                                        <legend>{% t right.birthday %}</legend>
                                        <div class="row my-2">
                                            <div class="col-4 col-lg-4">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="form-day"
                                                        onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                                        pattern="(0[1-9]|[12]\d|3[01])" inputmode="numeric"
                                                        minlength="1" maxlength="2" placeholder="{% t right.day %}"
                                                        aria-label="{% t right.day %}"
                                                        aria-describedby="{% t right.day %}">
                                                    <label for="form-day">{% t right.day %}</label>
                                                </div>
                                            </div>
                                            <div class="col-4 col-lg-4">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="form-month"
                                                        onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                                        pattern="(0[1-9]|1[012])" inputmode="numeric" minlength="1"
                                                        maxlength="2" placeholder="{% t right.month %}"
                                                        aria-label="{% t right.month %}"
                                                        aria-describedby="{% t right.month %}">
                                                    <label for="form-month">{% t right.month %}</label>
                                                </div>
                                            </div>
                                            <div class="col-4 col-lg-4">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="form-year"
                                                        onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                                        pattern="^((200[0-3])|(19[0-9]{2})|(189[0-9]))$"
                                                        inputmode="numeric" minlength="4" maxlength="4"
                                                        placeholder="{% t right.year %}" aria-label="{% t right.year %}"
                                                        aria-describedby="{% t right.year %}">
                                                    <label for="form-year">{% t right.year %}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="row mt-3">
                                        <div class="col-12 col-lg-12 mb-0">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="form-street"
                                                    pattern="^[a-zA-Z0-9-,.\säöüÄÖÜß\/]{2,}$" maxlength="60"
                                                    placeholder="{% t right.shipping.street %}"
                                                    aria-label="{% t right.shipping.street %}"
                                                    aria-describedby="{% t right.shipping.street %}">
                                                <label for="form-street">{% t right.shipping.street %}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 col-lg-2 mb-3 mb-lg-0">
                                            <div class="form-floating">
                                                <input type="text" class="form-control"
                                                    onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                                    id="form-zip" inputmode="numeric" minlength="5" maxlength="5"
                                                    pattern="[0-9]{5}" placeholder="{% t right.shipping.zipcode %}"
                                                    aria-label="{% t right.shipping.zipcode %}"
                                                    aria-describedby="{% t right.shipping.zipcode %}">
                                                <label for="form-zip">{% t right.shipping.zipcode %}</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-10">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="form-city"
                                                    pattern="^[a-zA-Z-,.\säöüÄÖÜß()]{2,}$" maxlength="60"
                                                    placeholder="{% t right.shipping.city %}"
                                                    aria-label="{% t right.shipping.city %}"
                                                    aria-describedby="{% t right.shipping.city %}">
                                                <label for="form-city">{% t right.shipping.city %}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <script src="{{ site.baseurl_root }}/assets/js/jquery.min.js"></script>

                                        <form method="post" name="subscribeform" id="subscribeform"
                                            enctype="multipart/form-data">

                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input type="email" name="email" class="form-control" id="email"
                                                        pattern="(?![_.-])((?![_.-][_.-])[a-z\d_.-]){0,63}[a-z\d]@((?!-)((?!--)[a-z\d-]){0,63}[a-z\d]\.){1,2}([a-z]{2,14}\.)?[a-z]{2,14}"
                                                        placeholder="{% t right.email %}"
                                                        aria-label="{% t right.email %}"
                                                        aria-describedby="{% t right.email %}">
                                                    <label for="email">{% t right.email %}</label>
                                                </div>

                                                <input type=hidden name="htmlemail" value="1">
                                                <input type="hidden" name="list[11]" value="signup" />
                                                <input type="hidden" name="subscribe" value="subscribe" />
                                            </div>

                                            <div id="result"></div>
                                        </form>
                                    </div>

                                    <!-- AJAX newsletter subscription -->
                                    <script>
                                        function checkform() {
                                            re = /^\w+([.-]?\w+)@\w+([.-]?\w+)(.\w{2,3})+$/;
                                            if (!re.test(jQuery("#email").val())) {
                                                jQuery("#result").empty().append("<p class='mb-0' style='color: #cc3333'>{% t right.invalidemail %}</p>");
                                                jQuery("#email").val("");
                                                jQuery("#emailupdates").prop("checked", false);
                                                jQuery("#emailupdatesMobile").prop("checked", false);
                                                jQuery("#email").focus();
                                                return false;
                                            }
                                            return true;
                                        }
                                        function submitForm() {
                                            successMessage =
                                                "<p class='mb-0' style='color: green;'>{% t right.successfulregistration %}</p>";
                                            data = jQuery("#subscribeform").serialize();
                                            jQuery.ajax({
                                                type: "POST",
                                                data: data,
                                                url: "https://list.walhbrief.de/lists/?p=subscribe&id=1",
                                                dataType: "html",
                                                success: function (data, status, request) {
                                                    jQuery("#result")
                                                        .empty()
                                                        .append(data != "" ? data : successMessage);
                                                },
                                                error: function (request, status, error) {
                                                    alert("{% t right.noprocess %}");
                                                    jQuery("#email").val("");
                                                    jQuery("#emailupdates").prop("checked", false);
                                                    jQuery("#emailupdatesMobile").prop("checked", false);
                                                    jQuery("#email").focus();
                                                },
                                            });
                                        }
                                    </script>
                                    <!-- AJAX newsletter subscription -->

                                    <div class="form-check mt-2 d-none d-lg-flex align-items-center">
                                        <input class="form-check-input me-2" type="checkbox"
                                            onchange="if (checkform()) {submitForm();} return false;" value=""
                                            id="emailupdates">
                                        <label class="form-check-label" for="emailupdates">
                                            {% t right.email-updates %}
                                        </label>
                                    </div>
                                    <div
                                        class="form-check big-chb align-items-center justify-content-between d-lg-none mt-2">
                                        <label class="form-check-label" for="emailupdatesMobile">
                                            {% t right.email-updates %}
                                        </label>
                                        <div>
                                            <input class="form-check-input" type="checkbox"
                                                onchange="if (checkform()) {submitForm();} return false;" value=""
                                                id="emailupdatesMobile">
                                        </div>
                                    </div>

                                    <div class="background-gray-100 py-3 px-3 my-3">
                                        <div class="d-flex align-items-center justify-content-lg-start">
                                            <i class="fas fa-info-circle color-cyan-700 me-2"></i>
                                            <p class="mb-0">{% t right.arrival %} <strong id="arrival-date">{{ "now" |
                                                    date: "%s" | plus: 345600 | date: "%d.%m." }} - {{ "now" |
                                                    date: "%s" | plus: 691200 | date: "%d.%m." }}</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-check d-none d-lg-block">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="sameaddress" value="normal" checked>
                                        <label class="form-check-label" for="sameaddress">
                                            {% t right.same-address %}
                                        </label>
                                    </div>
                                    <div class="form-check d-none d-lg-block">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="differentaddress" value="different">
                                        <label class="form-check-label" for="differentaddress">
                                            {% t right.different-address %}
                                        </label>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center d-block d-lg-none">
                                        <p class="mb-0">{% t right.checkbox-address %}</p>
                                        <div>
                                            <input class="tgl tgl-light" id="cb1" type="checkbox" />
                                            <label class="tgl-btn" for="cb1"></label>
                                        </div>
                                    </div>
                                    <div class="col-10 d-block d-lg-none">
                                        <p class="small text-muted">{% t right.checkbox-description %}</p>
                                    </div>
                                </form>
                                <form id="newform" class="mt-3">
                                    <h3 class="mb-3">{% t right.shipping.address %}</h3>
                                    <div class="row">
                                        <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="form-newname"
                                                    pattern="^[a-zA-Z-,.\säöüÄÖÜß]{2,}$" maxlength="60"
                                                    placeholder="{% t right.shipping.name %}"
                                                    aria-label="{% t right.shipping.name %}"
                                                    aria-describedby="{% t right.shipping.name %}">
                                                <label for="form-newname">{% t right.shipping.name %}</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="form-newsurname"
                                                    pattern="^[a-zA-Z-,.\säöüÄÖÜß\/]{2,}$" maxlength="60"
                                                    placeholder="{% t right.shipping.surname %}"
                                                    aria-label="{% t right.shipping.surname %}"
                                                    aria-describedby="{% t right.shipping.surname %}">
                                                <label for="form-newsurname">{% t right.shipping.surname %}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 col-lg-12 mb-0">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="form-address"
                                                    pattern="^[a-zA-Z0-9-,.\säöüÄÖÜß\/]{2,}$" maxlength="60"
                                                    placeholder="{% t right.shipping.adresszusatz %}"
                                                    aria-label="{% t right.shipping.adresszusatz %}"
                                                    aria-describedby="{% t right.shipping.adresszusatz %}">
                                                <label for="form-address">{% t right.shipping.adresszusatz %}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 col-lg-12 mb-0">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="form-newstreet"
                                                    pattern="^[a-zA-Z0-9-,.\säöüÄÖÜß\/]{2,}$" maxlength="60"
                                                    placeholder="{% t right.shipping.street %}"
                                                    aria-label="{% t right.shipping.street %}"
                                                    aria-describedby="{% t right.shipping.street %}">
                                                <label for="form-newstreet">{% t right.shipping.street %}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 col-lg-2 mb-3 mb-lg-0">
                                            <div class="form-floating">
                                                <input type="text"
                                                    onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                                    oninput="this.value=this.value.slice(0,this.maxLength)"
                                                    inputmode="numeric" class="form-control" id="form-newzip"
                                                    minlength="5" maxlength="5" pattern="[0-9]{5}"
                                                    placeholder="{% t right.shipping.zipcode %}"
                                                    aria-label="{% t right.shipping.zipcode %}"
                                                    aria-describedby="{% t right.shipping.zipcode %}">
                                                <label for="form-newzip">{% t right.shipping.zipcode %}</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-10">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="form-newcity"
                                                    pattern="^[a-zA-Z-,.\säöüÄÖÜß()]{2,}$" maxlength="60"
                                                    placeholder="{% t right.shipping.city %}"
                                                    aria-label="{% t right.shipping.city %}"
                                                    aria-describedby="{% t right.shipping.city %}">
                                                <label for="form-newcity">{% t right.shipping.city %}</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="row mt-4">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button class="btn btn-preview" onclick="thirdpage();"><i
                                                class="fas fa-eye me-2"></i>{%
                                            t right.preview
                                            %}</button>
                                    </div>
                                </div>
                                <p class="mb-0 mt-4 d-block d-lg-none"><small>Ein <a
                                            href="https://github.com/Wahlbrief/wahlbrief-website" target="_blank"
                                            rel="noreferrer noopener">Open Source Projekt</a> von Mehr
                                        Demokratie. {{ 'now' |
                                        date: "%Y" }}</small></p>
                                <div class="d-block d-lg-none mt-4">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle" type="button" id="dropdownMenu4"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-globe me-1"></i>
                                            {% for lang in site.languages %}
                                            {% assign lang_name = site.data[lang].l10n.lang_name %}
                                            {% if lang == site.lang %}
                                            {{ lang_name }}
                                            {% endif %}
                                            {% endfor %}
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                                            {% for lang in site.languages %}
                                            {% assign lang_name = site.data[lang].l10n.lang_name %}
                                            {% if lang == site.default_lang %}
                                            <li><a class="dropdown-item" href="{{ page.url }}">{{ lang_name }}</a></li>
                                            {% else %}
                                            <li><a class="dropdown-item" href="/{{ lang }}{{ page.url }}">{{ lang_name
                                                    }}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Step 3 -->
                        <div class="tab-pane fade" id="step-3" role="tabpanel" aria-labelledby="step-3-tab">
                            <div class="col-12">
                                <div id="preview">
                                    <button class="btn back-small mb-4" onclick="backtosecondpage();">{% t right.back
                                        %}</button>
                                    <h4 class="fw-bold">3/3</h4>
                                    <h2>{% t right.preview-letter %}</h2>
                                    <p>{% t right.preview-description %}</p>
                                    <p id="subject">{% t right.subject %}</p>
                                </div>

                                <div class="background-gray-100 p-4 mb-3">
                                    <h4 id="final-munname" class="fw-bold mb-0"></h4>
                                    <p id="final-munemail" class="mb-0 me-1 d-inline-block"></p>
                                    <button class="btn copy p-0 d-inline-block" data-bs-toggle="tooltip"
                                        title="{% t right.message.copied %}" data-clipboard-target="#final-munemail">
                                        <i class="far fa-copy"></i>
                                    </button>
                                </div>

                                <div id="final-letter" class="final-letter py-3 px-4">
                                    <p>{% t right.letter.title %}</p>
                                    <p class="mb-0">
                                        {% t right.letter.name %}: <span class="fw-bold" id="final-name"></span><br />
                                        {% t right.letter.surname %}: <span class="fw-bold"
                                            id="final-surname"></span><br />

                                        {% t right.letter.birthday %}: <span class="fw-bold"
                                            id="final-birthdate"></span><span class="fw-bold"
                                            id="final-birthmonth"></span><span class="fw-bold"
                                            id="final-birthyear"></span><br />
                                        {% t right.letter.address %}:<br /><br />
                                        <span class="fw-bold" id="final-id-street"></span><br data-br="street"
                                            style="display: none;" />
                                        <span class="fw-bold" id="final-id-zip"></span>
                                        <span class="fw-bold" id="final-id-city"></span><br data-br="zip"
                                            style="display: none;" /><br data-br="city" style="display: none;" />
                                    </p>

                                    <p id="finalogaddress">{% t right.letter.sendtomine %}</p>

                                    <p class="mb-0" id="finalnewaddress">{% t right.letter.sendalternative
                                        %}<br />

                                        <span class="fw-bold" id="final-newname"></span>
                                        <span class="fw-bold" id="final-newsurname"></span><br data-br="newsurname"
                                            style="display: none;" />
                                        <span class="fw-bold" id="final-address"></span><br data-br="address"
                                            style="display: none;" />
                                        <span class="fw-bold" id="final-newstreet"></span><br data-br="street"
                                            style="display: none;" />
                                        <span class="fw-bold" id="final-newzip"></span>
                                        <span class="fw-bold" id="final-newcity"></span><br data-br="newzip"
                                            style="display: none;" /><br data-br="newcity" style="display: none;" />
                                        <span class="fw-bold ms-2" id="final-street"></span>
                                        <span class="fw-bold ms-2" id="final-zip"></span>
                                        <span class="fw-bold ms-2" id="final-city"></span>
                                    </p>

                                    <p class="mb-0">{% t right.letter.regards %}<br />
                                        <span class="fw-bold me-1" id="final-id-name"></span>
                                        <span class="fw-bold" id="final-id-surname"></span>
                                        <span id="final-id-street"></span>
                                        <span id="final-id-zip"></span>
                                        <span id="final-id-city"></span>
                                        <span id="final-id-newname"></span>
                                        <span id="final-id-newsurname"></span>
                                        <span id="final-id-address"></span>
                                        <span id="final-id-newstreet"></span>
                                        <span id="final-id-newzip"></span>
                                        <span id="final-id-newcity"></span>
                                    </p>

                                </div>

                                <p class="mb-0 mt-4" id="final-message">
                                    <i class='fas fa-info-circle me-2'></i>
                                    {% t right.message.intro %}
                                </p>

                                <div class="row py-4 justify-content-center align-items-center">
                                    <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                        <a id="send-text" href="#" class="btn-send" onclick="return getContent(this)">
                                            <i class="fas fa-paper-plane me-2"></i>{% t right.send %}
                                        </a>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <button id="copy-text" class="btn-copy copy"
                                            data-clipboard-target="#final-letter" title="{% t right.message.copied %}">
                                            <i class="fas fa-clone me-2"></i>{% t right.copy %}
                                        </button>
                                    </div>
                                </div>

                                <script>
                                    // Function to show/hide message after clicking on the copy text button
                                    const copier = document.getElementById("copy-text");
                                    copier.addEventListener("click", (event) => {
                                        const displayMessage = document.getElementById("final-message");
                                        displayMessage.innerHTML = "<i class='fas fa-check-circle me-2'></i>{% t right.message.success %}";
                                        displayMessage.style.backgroundColor = "#ECFDF5";
                                        displayMessage.style.color = "#065F46";
                                    });

                                    // Function to show/hide message after clicking on the send email button
                                    const sender = document.getElementById("send-text");
                                    sender.addEventListener("click", (event) => {
                                        const displayMessage = document.getElementById("final-message");
                                        displayMessage.innerHTML = "<i class='fas fa-check-circle me-2'></i>{% t right.message.sent %}";
                                        displayMessage.style.backgroundColor = "#ECFDF5";
                                        displayMessage.style.color = "#065F46";
                                    });
                                </script>

                                <div id="outro-bottom" class="col-12 col-xl-8 outro">
                                    <h1>{% t left.share %}</h1>
                                    <p class="mb-4">{% t left.description %}</p>
                                    <div class="text-center">
                                        <a href="{{ site.facebook }}" target="_blank" rel="noreferrer nopener"><i
                                                class="fab fa-facebook"></i></a>
                                        <a href="{{ site.twitter }}" target="_blank" rel="noreferrer nopener"><i
                                                class="fab fa-twitter"></i></a>
                                        <a href="{{ site.linkedin }}" target="_blank" rel="noreferrer nopener"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                                <p class="mb-0 mt-4 d-block d-lg-none"><small>Ein <a
                                            href="https://github.com/Wahlbrief/wahlbrief-website" target="_blank"
                                            rel="noreferrer noopener">Open Source Projekt</a> von Mehr
                                        Demokratie. {{ 'now' |
                                        date: "%Y" }}</small></p>
                                <div class="d-block d-lg-none mt-4">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle" type="button" id="dropdownMenu5"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-globe me-1"></i>
                                            {% for lang in site.languages %}
                                            {% assign lang_name = site.data[lang].l10n.lang_name %}
                                            {% if lang == site.lang %}
                                            {{ lang_name }}
                                            {% endif %}
                                            {% endfor %}
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                                            {% for lang in site.languages %}
                                            {% assign lang_name = site.data[lang].l10n.lang_name %}
                                            {% if lang == site.default_lang %}
                                            <li><a class="dropdown-item" href="{{ page.url }}">{{ lang_name }}</a></li>
                                            {% else %}
                                            <li><a class="dropdown-item" href="/{{ lang }}{{ page.url }}">{{ lang_name
                                                    }}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>