// Root variables
:root {
  font-size: 16px;
}

// Smooth Scrolling
html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

// Body

body {
  /* Box-model */
  height: 100%;
  /* Typography */
  font-family: "Barlow", sans-serif;
  line-height: 1.6;
  color: $gray-900;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  color: $cyan-800;
}

.h1,
h1 {
  font-size: clamp(3rem, #{"1.5vw + 2.7rem"}, 4rem);
}

.h2,
h2 {
  font-size: clamp(2rem, #{"1.5vw + 1.7rem"}, 3rem);
}

.h3,
h3 {
  font-size: clamp(1.5rem, #{"0.7vw + 1.3rem"}, 2rem);
}

.h4,
h4 {
  font-size: clamp(1.125rem, #{"0.6vw + 1rem"}, 1.5rem);
}

.h5,
h5 {
  font-size: clamp(1rem, #{"0.2vw + 1rem"}, 1.125rem);
}

.h6,
h6 {
  font-size: clamp(0.875rem, #{"0.4vw + 0.8rem"}, 1.125rem);
}

// Paragraphs and Custom Font Sizes

a {
  color: $cyan-600;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $cyan-800;
  }
}

.subtitle {
  font-size: 1.125rem;
}

// Nav
.dropdown-toggle:after {
  vertical-align: 0.155em;
}

#dropdownMenu2 {
  padding: 0.75rem 1.25rem;
  color: $white;
  background-color: rgba(255, 255, 255, 0.1);
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overscroll-behavior: contain;
  transition: 0.35s;
  background-color: $cyan-700;
}

.overlay-header {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
}

.overlay-content {
  position: relative;
  top: 8%;
  width: 100%;
  text-align: center;

  & a {
    padding: 0.313rem;
    text-decoration: none;
    font-size: 2.5rem;
    color: $white;
    display: block;
    transition: 0.35s;

    &:hover,
    :focus,
    :active {
      color: $gray-900;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.overlay-footer {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  color: $white;

  & a {
    color: $white;
  }

  & .social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 0.2rem;
    margin: 0 0.2rem;
    color: $cyan-700;
    background-color: $white;
    font-size: 1.625rem;
    width: 3rem;
    height: 3rem;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: $gray-300;
    }
  }
}

.overlay .closebtn {
  border: none;
  background-color: transparent;
  color: $white;
  font-weight: bold;
  font-size: 1.25rem;

  &:hover,
  :focus,
  :active {
    color: $gray-700;
  }
}

.dropdown-toggle {
  border: none;
  outline: none;
  background: transparent;
  border-radius: 0.25rem;
}

// Misc
.background-white {
  background-color: $white;
}

.pattern {
  background-image: url("/assets/images/pattern.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.letter {
  background-color: $white;
  box-shadow: 0rem -0.25rem 0.25rem rgba(227, 227, 227, 0.25);
  border-radius: 0.125rem;
  border-bottom: 0.375rem solid rgba(14, 116, 144, 0.35);
  display: none;

  & h4 {
    text-transform: uppercase;
    color: $cyan-700;
  }
}

.final-letter {
  background-color: $white;
  box-shadow: 0rem -0.25rem 0.25rem rgba(227, 227, 227, 0.25),
    0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.125rem;
  border-left: 0.375rem solid $gray-200;
}

.outro {
  display: none;

  & a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 0.125rem;
    margin: 0 0.2rem;
    color: $white;
    background-color: $cyan-700;
    font-size: 1.5rem;
    width: 2.625rem;
    height: 2.625rem;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: $cyan-800;
    }
  }
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 0.2rem;
  margin: 0 0.2rem;
  color: $white;
  background-color: $cyan-700;
  width: 1.75rem;
  height: 1.75rem;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $cyan-800;
  }
}

.pages a {
  font-size: 1rem;
  font-weight: 600;
  color: $cyan-700;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $cyan-800;
  }
}

// Buttons
.btn-new {
  padding: 1.25rem 1.625rem;
  color: $gray-100;
  background-color: $cyan-700;
  border-radius: 0.125rem;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $gray-100;
    background-color: $cyan-800;
  }
}

.btn-contact {
  padding: 0.75rem 1.625rem;
  color: $gray-100;
  background-color: $cyan-700;
  border-radius: 2px;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $gray-100;
    background-color: $cyan-800;
  }
}

.btn-preview {
  padding: 1.25rem 2.5rem;
  color: $gray-100;
  background-color: $cyan-700;
  border-radius: 0.125rem;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $gray-100;
    background-color: $cyan-800;
  }
}

.btn-send {
  display: block;
  color: $gray-100;
  background-color: $cyan-700;
  border-radius: 0.125rem;
  font-weight: 500;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $gray-100;
    background-color: $cyan-800;
  }
}

.btn-copy {
  display: block;
  color: $gray-700;
  font-weight: 500;
  background-color: rgba(14, 116, 144, 0.1);
  border-radius: 0.125rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  width: 100%;
  text-align: center;
  border: none;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: rgba(14, 116, 144, 0.2);
  }
}

.back {
  color: $gray-600;
  font-size: 1.125rem;
  margin-right: 1.25rem;
  transition: 0.3s ease-in-out;

  &:hover:before {
    margin-right: 0.625rem;
  }

  &:before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: inherit;
    margin-right: 0.375rem;
    color: inherit;
    transition: 0.3s ease-in-out;
  }

  &-small {
    padding: 0;

    &:before {
      content: "\f053";
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      font-size: inherit;
      margin-right: 0.375rem;
      color: inherit;
    }
  }
}

// Scrolling indicator arrow

.scrollIndicator {
  z-index: 2;
  position: sticky;
  bottom: 5%;

  & button {
    background: transparent;
    outline: none;
    border: none;
  }
}

// Inputs
details {
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1.25rem;
  padding-left: 2.5rem;
  font-size: 1rem;
  font-weight: 400;

  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-100;
  }
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::marker {
  display: none !important;
}

details > summary {
  list-style: none !important;
  font-size: 1.125rem;
  color: $gray-900;
  font-weight: 500;
}

details[open] > summary {
  margin-bottom: 1rem;
}

details > summary::before {
  content: "\f078";
  font-size: 1.5rem;
  font-family: "font awesome 5 free";
  font-weight: 700;
  color: $cyan-600;
  position: absolute;
  left: 0px;
  top: 1rem;
  transform: translateY(-50%);
}

details[open] > summary::before {
  content: "\f077";
  font-size: 1.5rem;
  font-family: "font awesome 5 free";
  font-weight: 700;
  color: $cyan-600;
  position: absolute;
  left: 0px;
  top: 1rem;
  transform: translateY(-50%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-control {
  position: relative;
}

.form-control::placeholder {
  color: $gray-500;
}

.form-control:focus {
  box-shadow: inset 0 0 0 0.15rem #0e7490;
}

.form-check-input:checked {
  background-color: $cyan-600;
  border-color: $cyan-600;
}

.form-control:invalid {
  box-shadow: inset 0 0 0 0.15rem #cc3333;
}

#validation {
  color: #cc3333;
}

.autocomplete {
  position: relative;

  &-items {
    top: 100%;
    left: 0;
    right: 0;
    max-height: 15.5rem;
    overflow: auto;

    & div {
      border-radius: 0.25rem;
      padding: 0.75rem 1.375rem;
      cursor: pointer;
      color: $gray-900;

      &:hover {
        background-color: $bluegray-300 !important;
      }

      &:nth-child(odd) {
        background-color: $bluegray-100;
      }

      &:nth-child(even) {
        background-color: $bluegray-200;
      }
    }

    & div.no-items {
      padding: 0.75rem 1.375rem;
      pointer-events: none;
      color: #991b1b;
      background-color: #fef2f2;

      &:hover {
        background-color: #fef2f2 !important;
      }
    }
  }

  &-active {
    background-color: $bluegray-300 !important;
    color: $black !important;
  }
}

.error {
  padding: 0.75rem 1.375rem;
  pointer-events: none;
  color: #991b1b !important;
  background-color: #fef2f2 !important;
}

.success {
  padding: 0.75rem 1.375rem;
  pointer-events: none;
  color: #065f46 !important;
  background-color: #ecfdf5 !important;
}

#subject,
#id-newname,
#id-newsurname,
#id-address,
#id-street,
#id-newstreet,
#id-zip,
#id-newzip,
#id-city,
#id-newcity,
#final-street,
#final-zip,
#final-city,
#final-id-newname,
#final-id-newsurname,
#final-id-address,
#final-id-newstreet,
#final-id-newzip,
#final-id-newcity {
  display: none;
}

#newform,
#newaddress,
#finalnewaddress,
#address-mobile,
#preview-mobile,
#subscription {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  padding: 1.5rem 1.25rem 0.625rem 1.25rem !important;
  border: 1px solid $gray-500 !important;
  border-radius: 0.25rem;

  &:valid:focus:not(:placeholder-shown) {
    box-shadow: inset 0 0 0 0.15rem green;
  }

  &:valid:not(:focus):not(:placeholder-shown) {
    background: url("/assets/images/checkmark.svg");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: right 1rem center;
    box-shadow: inset 0 0 0 0.15rem green;
  }

  // &:valid:focus:not(:placeholder-shown) {
  //   background: url("/assets/images/checkmark.svg");
  //   background-size: 1.5rem;
  //   background-repeat: no-repeat;
  //   background-position: right 1rem center;
  //   box-shadow: inset 0 0 0 0.15rem green;
  // }

  // &:invalid:focus:not(:placeholder-shown) {
  //   background: url("/assets/images/xmark.svg");
  //   background-size: 1.5rem;
  //   background-repeat: no-repeat;
  //   background-position: right 1rem center;
  //   box-shadow: inset 0 0 0 0.15rem #cc3333;
  // }

  &:invalid:not(:focus):not(:placeholder-shown) {
    background: url("/assets/images/xmark.svg");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: right 1rem center;
    box-shadow: inset 0 0 0 0.15rem #cc3333;
  }
}

.form-floating > label {
  color: $gray-500;
  padding: 1.25rem 0.75rem 1.25rem 1.25rem !important;
  z-index: 3;
  transition: transform 0.25s ease-in-out;
}

.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.5rem + 0.625rem);
  line-height: initial;
  padding-top: 1.5rem !important;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.8 !important;
  transform: scale(0.85) translateY(-0.7rem) translateX(0.15rem);
}

.input-group.form-floating label {
  padding-top: 1.25rem;
}

.input-group.form-floating > .form-control:focus ~ label,
.input-group.form-floating > .form-control:not(:placeholder-shown) ~ label,
.input-group.form-floating > .form-select ~ label {
  padding-top: 1rem;
}

.tgl {
  display: none;

  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    outline: 0;
    display: block;
    width: 2.7em;
    height: 1.5em;
    position: relative;
    cursor: pointer;
    user-select: none;
    box-shadow: inset 0px 1.38974px 4.16923px rgba(0, 0, 0, 0.1);
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      box-shadow: 0px 1.38974px 4.16923px rgba(0, 0, 0, 0.2);
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn:after {
    left: 50%;
  }
}

.tgl-light {
  + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 0.125rem;
    transition: all 0.4s ease;
    &:after {
      border-radius: 50%;
      background: #fff;
      transition: all 0.2s ease;
    }
  }

  &:checked + .tgl-btn {
    background: $cyan-700;
  }
}

legend {
  font-size: 1rem;
  color: $gray-500;
  display: block;
}

fieldset {
  padding: 0.625rem;
  border: 1px solid $gray-500;
  border-radius: 0.25rem;
}

#final-message {
  padding: 1.25rem;
  background-color: #eff6ff;
  color: #1e40af;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;

  & .fa-info-circle {
    font-size: 1em;
  }
}

// Media queries
@media (max-width: 48rem) {
  .input-group {
    display: block;
    & input {
      width: 100% !important;
    }
  }
  .btn-preview,
  .btn-contact,
  .btn-new {
    width: 100%;
  }
  #bigletter {
    display: none !important;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    background-color: rgba(100, 116, 139, 0.08);
    border-radius: 0.25rem !important;

    &:valid:focus:not(:placeholder-shown) {
      box-shadow: inset 0 0 0 0.15rem green;
    }

    &:valid:not(:focus):not(:placeholder-shown) {
      background: url("/assets/images/checkmark.svg");
      background-size: 1.25rem;
      background-repeat: no-repeat;
      background-position: right 1rem center;
      box-shadow: inset 0 0 0 0.15rem green;
    }

    &:valid:focus:not(:placeholder-shown) {
      background: url("/assets/images/checkmark.svg");
      background-size: 1.25rem;
      background-repeat: no-repeat;
      background-position: right 1rem center;
      box-shadow: inset 0 0 0 0.15rem green;
    }

    &:invalid:focus:not(:placeholder-shown) {
      background: url("/assets/images/xmark.svg");
      background-size: 1.25rem;
      background-repeat: no-repeat;
      background-position: right 1rem center;
      box-shadow: inset 0 0 0 0.15rem #cc3333;
    }

    &:invalid:not(:focus):not(:placeholder-shown) {
      background: url("/assets/images/xmark.svg");
      background-size: 1.25rem;
      background-repeat: no-repeat;
      background-position: right 1rem center;
      box-shadow: inset 0 0 0 0.15rem #cc3333;
    }
  }

  fieldset {
    background-color: rgba(100, 116, 139, 0.08);
  }
  #address-desktop {
    display: none;
  }
  .fa-info-circle {
    font-size: 1.5em;
  }
  .big-chb {
    display: flex;
    padding-left: 0 !important;

    & .form-check-input {
      float: none;
      margin-left: 0;
      width: 1.6em !important;
      height: 1.6em !important;
    }
  }
  .final-letter {
    box-shadow: none;
    border-radius: 0.25rem;
    background: linear-gradient(0deg, #f1f5f9, #f1f5f9);
  }
}
