@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 200 900;
  font-optical-sizing: auto;
  font-display: swap;
  src: local("Source Sans 3 Variable"),
    url("../fonts/source-sans-pro/SourceSans3-VariableFont_wght.ttf")
      format("truetype-variations");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 200 900;
  font-optical-sizing: auto;
  font-display: swap;
  src: local("Source Sans 3 Variable Italic"),
    url("../fonts/source-sans-pro/SourceSans3-Italic-VariableFont_wght.ttf")
      format("truetype-variations");
}
